{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!{% endblock %}

{% block body %}
<div class="row">
  <div class="sidebar">
  <header>Catégorie</header>
  <ul>
  {% for categorie in categories %}
    {% if categorie.products|length > 0 %}
      <div class="col" style="position: relative">
      <li style="display: inline"><a href="#{{categorie.id}}">{{categorie.label}}</a></li>
      </div>
      {% if admin == true %}
            <div class="col" style="text-align: center; z-index: 1; margin-right: 20px">
        <button type="button" class="btn btn-danger" onclick="location.href='/shop/delCategory/{{ categorie.id }}'">Supprimer</button>
        </div>
      {% endif %}
    {% else %}
      {% if admin == true %}
      <div class="col">
        <li><a href="#{{categorie.id}}" >{{categorie.label}}</a></li>
      </div> 
      <div class="col" style="text-align: center; z-index: 1;margin-right: 20px">
        <button type="button" onclick="location.href='/shop/delCategory/{{ categorie.id }}'" class="btn btn-danger">Supprimer</button>
      </div>
      {% endif %}
    {% endif %}
  {% endfor %}
  {% if admin == true %}
  <button id="button-add-category" class="btn btn-success" role="button" onclick="display('text-add-category','button-add-category','button-valid-category');" style="margin-top: 15px; margin-left: 40px; position: absolute; z-index: 1">Ajouter Catégorie</button>
  
  <form action="/shop/addCategory">
    <div class="input-group mb-3">
    <input id="text-add-category" type="text" class="form-control hidden" name="label" placeholder="Nom de la catégorie" aria-label="Nom de la catégorie" aria-describedby="basic-addon2" style="margin-top:15px; margin-left: 10px">
    <div class="input-group-append">
      <button id='button-valid-category' class="btn btn-outline-secondary hidden" type="submit" style="margin-top:15px; margin-right: 10px_">Ajouter</button>
    </div>
  </form>

</div>
  {% endif %}
  </ul>
  </div>
        
  {% for categorie in categories %}
    <div class="col-10">
      <div class="cards">
      {% if categorie.products|length > 0 %}
      <div class="row">
        <div class="col">
          <h1 style="margin: 25px" id="{{categorie.id}}">{{ categorie.label }}<h1>
        </div>
        <div class="col" style="text-align: right">
            {% if admin == true %}
            <button class="btn btn-success" role="button" onclick="location.href='/shop/addProduct/{{ categorie.id }}'" style="margin-top: 35px">Ajouter Produit</button>
            {% endif %}
        </div>
      </div>
        <div class="row justify-content-md-center">
          <div class="card-deck">
          {% for product in categorie.products %}
                <div class="card" style="margin-top: 10px; margin-bottom: 10px;">
                  <img class="card-img-top" width="100%" height="200px" src={{product.picture}} alt="">
                  <div class="card-body"><!-- Corps de la carte contenant les nom du produit, son prix, sa description, un bouton en savoir plus et un boutoun supprimer seulement visible et utilisable par les admins-->
                    <h4 class="card-title text-primary">{{product.name}}</h4>
                    <h5>Prix : {{ product.price != 0 ? product.price : "gratuit"}} {{ product.price != 0 ? "€" : ""}}</h5>
                    <p class="card-text">{{product.description}}</p>
                  </div>
                  <div class="card-footer text-center">
                  <button type="button " class="btn btn-primary" onclick="location.href='/shop/displayProduct/{{ product.id }}'">Détails</button>

                  {% if admin == true %}
                  <button class="btn btn-danger" role="button" onclick="location.href='/shop/delProduct/{{ product.id }}'">Delete</button>
                  <button class="btn btn-success" role="button" onclick="location.href='/shop/edit/product/{{ product.id }}'">Edit</button>
                  {% endif %}
                  </div>
                </div>
          {% endfor %}
          </div>
        </div>
      {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

<footer class="footer bg-primary text-center" style="margin-top: 20px">
  <p><a class="text-light" href="/home/legal" style="margin-top: 10px">Mention légales</a> - <a class="text-light" href="/home/saleCondition" style="margin-top: 10px">CGV</a> - <a class="text-light" href="https://www.cesi.fr/" target="_blank" style="margin-top: 10px">Propulsé par Cesi </a></p>
</footer>


<script type="text/javascript"> 
function display(id, idButton, idSButton) 
{ 
	if (document.getElementById(id).style.visibility == "hidden") 
      document.getElementById(idButton).style.visibility = "hidden";
      document.getElementById(idButton).style.visibility = "hidden";
      document.getElementById(id).style.visibility = "visible";
      document.getElementById(idSButton).style.visibility = "visible";
} 
</script> 



<style>
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

.hidden {
  visibility: hidden;
}

.footer {
  height: 50px;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
  margin-top: 55px;
}

.cards {
  margin-left: 250px;
}

.row {
  margin-left: 0px;
}

.card {
    margin-bottom: 30px;
    margin-left: 15px;
    width: 300px;
    height: 400px;
}
.card-text {
    font-size: 18px;
}
.card-deck {
  margin-left: 250px;
  align: center;
}
.sidebar {
  z-index: 1;
  position: fixed;
  left: 0px;
  width: 250px;
  height: 100%;
  background: #042331;
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #063146;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
section{
  background: url(bg.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}
</style>

    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
{% endblock %}
